.container {
  composes: background from '../../utils/utils.module.css';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.actionsContainer {
  display: flex;
  justify-content: space-between;
  font-size: var(--calcite-font-size--1);
  align-items: center;
}

.leftActionsContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.rightActionsContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.climateContainer {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    'indicator period'
    'scenario period';
  column-gap: 2rem;
  max-width: min(900px, 80%);
  margin: 0 auto;
  height: 100%;
}

.indicatorContainer {
  grid-area: indicator;
}
.scenarioContainer {
  grid-area: scenario;
}
.periodContainer {
  grid-area: period;
}

.applicationTitle {
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.9rem;
  background: none;
  border: none;
  color: var(--calcite-font-text-1);
  cursor: pointer;
}

@media (max-width: 700px) {
  .leftActionsContainer {
    justify-content: space-between;
  }
  .climateContainer {
    display: block;
  }
}
