.container {
  display: flex;
}

.container > * {
  flex: 1;
}

@media (max-width: 700px) {
  .container {
    flex-direction: column;
  }
}

.periodYears,
.periodName {
  display: block;
  text-align: center;
  pointer-events: none;
}

.periodYears {
  font-size: 0.7rem;
}
