.labels {
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem;
}

.gradientContainer {
  padding-bottom: 5px;
  margin: 5px 0;
  border-right: 1px solid var(--calcite-ui-text-1);
  border-left: 1px solid var(--calcite-ui-text-1);
}
